__pycache__/
*.json
.env
*.log
*.zip
.dockerignore
.gitignore
Dockerfile
*.md
/venv
/.venv
example/
/tests
/scripts
docker-compose.yaml
*.egg-info
.git
/docs
/build
/examples
/.pytest_cache
makefile